<p id="notice"><%= notice %></p>
<center>
<p>
<h1>  <b>Name:</b> <%= @author.name %> </h1>
</p>

<p>
 <h2> <b>Author id :</b> <%= @author.id %> </h2>
</p>
</center>

<%= render  :partial=>"book_list",:locals=>{:books=>@author.books } %>
<%= render  :partial=>"new_book", :locals=>{:book=>Book.new(:author_id=>@author.id)} %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
